.body{
 
 
}
.todo {
    display: flex;
    justify-content: flex-start;
   
   padding: auto;
   height: 60px;
    
}
.todo .icon { 
display: flex;
padding-right: 50px;
color: gray;
align-items: center;


    
}
.todo {
    display: flex;
    
}
.todo.true {
    display: flex;
    text-decoration: line-through;
    opacity: 1;
    justify-content: flex-start;
   
    
}
.todo.true .icon{
    color: green;
  
   
}
.todo p {
   margin: auto;
   margin-left: 0px;

}


